body {
	background-color: white;
	/*background: linear-gradient(blue, pink, green);*/
}

.logo{
  margin: auto;
  
}
h1 {
	text-align: center;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
}
section h2 {
	text-align: center;
	font-size: 30px;
	border-top: double;
	border-bottom: double;
	padding-bottom: 15px;
	padding-top: 15px;
}
section h3{
	font-size: 30px;
}
section h3 .fas{
	font-size: 20px;
	color: grey;
	margin-top: 2px;
	margin-left: 3px;
}

.boxes{
	display: inline-block;
	word-wrap: break-word;
	width: 24%;
	/*background-color: yellow;*/
}

img.reddot{
	height: 20px;
 	width: 20px;
 	position: relative;
 	right: 5px;
}
.bigger{
	font-weight: bold;
	font-size: 20px;
	position: relative;
 	right: 5px;
}
footer {
	text-align: center;
}
.footer div{
	display: inline-block;
}

